.uxdl-footer__root--primary,
.uxdl-footer__secondary--primary {
  background-color: var(--uxdl-color-primary-normal);
  color: var(--uxdl-color-primary-brightest);
}

.uxdl-footer__root--secondary,
.uxdl-footer__secondary--secondary {
  background-color: var(--uxdl-color-secondary-normal);
  color: var(--uxdl-color-primary-darkest);
}

.uxdl-footer__root--tertiary,
.uxdl-footer__secondary--tertiary {
  background-color: var(--uxdl-color-tertiary-normal);
  color: var(--uxdl-color-primary-darkest);
}
