.uxdl-secondary-footer__root--primary {
  background-color: var(--uxdl-color-primary-normal);
  color: var(--uxdl-color-primary-brightest);
}

.uxdl-secondary-footer__root--secondary {
  background-color: var(--uxdl-color-secondary-normal);
  color: var(--uxdl-color-primary-darkest);
}

.uxdl-secondary-footer__root--tertiary {
  background-color: var(--uxdl-color-tertiary-normal);
  color: var(--uxdl-color-primary-darkest);
}
