@import '~/styles/build.css';

.uxdl-button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-image: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  padding: 1.15em;
  text-align: center;
  touch-action: manipulation;
  user-select: none;

  &.is-disabled {
    pointer-events: none;
  }
}
