/* set full star shape for checked label and those that come after it */
.star-rating input:checked ~ label:before {
  content: "\2605";
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}
