.uxdl-alert__content{
    z-index: 100 !important;
}
.leave-review-container{
    border: none;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: 0 0 0 1px #d8d8d8;
    box-shadow: 0 0 0 1px #d8d8d8;
    font-size: 1rem;
    overflow-y: auto;
    outline: none;
    padding: 2rem 1rem;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    max-height: calc(100% - 60px);
    max-width: 1200px;
    text-align: center;


z-index: 100 !important;

margin-top: 5rem;
}

.form-header{
    display: flex;
}