.uxdl-navbar__root {
  z-index: 10;
  left: -18.75rem;
  list-style: none;
  margin: 0;
  position: absolute;
  padding: 0;
  width: 16.25rem;
  font-size: 0.875rem;
}
@media screen and (min-width: 64rem) {
  .uxdl-navbar__root {
    position: unset;
    display: flex;
    width: auto;
  }
}

.nav-open .uxdl-navbar__root {
  box-shadow: 0 0.1875rem 0.375rem rgb(0 0 0 / 16%), 0 0.1875rem 0.375rem rgb(0 0 0 / 23%);
  height: 100vh;
  left: 0;
  margin-top: 0.0625rem;
}
