# Used instructions located here: https://sergio.io/blog/consuming-private-libraries-from-github-packages
#   NOTE: must add --auth-type=legacy to the npm login command: 
#   npm login --registry=https://npm.pkg.github.com --auth-type=legacy
# Registry for the @procter-gamble scope
//npm.pkg.github.com/:_authToken=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
@procter-gamble:registry=https://npm.pkg.github.com