.uxdl-secondary-footer__root {
  border-top: 0.125rem solid #949494;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-block: 1rem;
}
@media screen and (min-width: 64rem) {
  .uxdl-secondary-footer__root {
    flex-direction: row;
    text-align: left;
  }
}
