<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955961711743-ied6jpqo6qfj68j096dum1r4qhif3ka5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955961711743-ied6jpqo6qfj68j096dum1r4qhif3ka5</string>
	<key>API_KEY</key>
	<string>AIzaSyBAA64fQDx2Sci0W_pPV6cMro39mkvwd18</string>
	<key>GCM_SENDER_ID</key>
	<string>955961711743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pgPoc</string>
	<key>PROJECT_ID</key>
	<string>test-analytics-a6a69</string>
	<key>STORAGE_BUCKET</key>
	<string>test-analytics-a6a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955961711743:ios:e16c9c2094a49b1bd7334a</string>
</dict>
</plist>